<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.m4fn3.k2ge3-pref</string>
			<key>key</key>
			<string>read</string>
			<key>label</key>
			<string>Disable MarkAsRead(既読)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.m4fn3.k2ge3-pref</string>
			<key>key</key>
			<string>unsend</string>
			<key>label</key>
			<string>Disable Unsend(送信取消)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>>  Apply Changes(変更を適用)</string>
			<key>action</key>
			<string>ApplyChanges</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Contact</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Twitter (@m4fn3)</string>
			<key>action</key>
			<string>OpenTwitter</string>
			<key>icon</key>
			<string>TwitterIcon.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>GitHub (m4fn3)</string>
			<key>action</key>
			<string>OpenGitHub</string>
			<key>icon</key>
			<string>GitHubIcon.png</string>
		</dict>
	</array>
	<key>title</key>
	<string>k2ge3</string>
</dict>
</plist>
